<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="css/bootstrap-datetimepicker.css" rel="stylesheet">
<link href="js/jqueryui/jquery-ui.css" rel="stylesheet">
<link href="css/toastr.min.css" rel="stylesheet">

<script src="js/jquery-3.1.1.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/jqueryui/jquery-ui.js"></script>
<script src="js/knockout-3.4.0.js"></script>
<script src="js/toastr.min.js"></script>
<script src="js/userViewModel.js"></script>
</head>
<body style="padding-top: 60px;">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="brand" href="knockout">User CRUD</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active"><a href="knockout">Knockout</a></li>
						<li><a href="angular">Angular</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div class="container">
		<br />
		<h1>Users</h1>
		<br />
		<button type="button" class="btn btn-info btn-lg" 
		data-bind="click: showModal">Create User</button>	
		
		<table class="table table-hover table-responsive"
			data-bind="visible: users().length > 0">
			<thead class="thead-inverse">
				<tr>
					<th data-bind="sort: { arr: users, prop: 'firstName' }">First name</th>
					<th data-bind="sort: { arr: users, prop: 'lastName' }">Last name</th>
					<th data-bind="sort: { arr: users, prop: 'email' }">Email</th>
					<th data-bind="sort: { arr: users, prop: 'birthDate' }">Birth Date</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody data-bind="foreach: users">
				<tr>
					<td data-bind="text: firstName"></td>
					<td data-bind="text: lastName"></td>
					<td data-bind="text: email"></td>
					<td data-bind="text: birthDate"></td>
					<td>
						<button type="button" class="btn btn-default" aria-label="Edit" 
						data-target="#saveDialog" data-bind="click: $parent.showModal">
						  	<span class="icon-pencil" aria-hidden="true"></span>
						</button>
						
						<button type="button" class="btn btn-default" aria-label="Remove" data-bind="click: $parent.removeUser">
						  	<span class="icon-trash" aria-hidden="true"></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>



	<!-- Modal -->
	<div id="saveDialog" class="modal fade" role="dialog" data-bind="with: currentUser">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Create User</h4>
				</div>
				<div class="modal-body">
					<form>
						<input type="hidden" id="id" name="id" data-bind="value: $parent.currentUser() ? $parent.currentUser().id : 0"/>
						<div class="form-group">
							<label for="firstName">First name</label> <input
								class="form-control" id="firstName" name="firstName"
								placeholder="Enter first name" type="text"
								data-bind="value: $parent.currentUser() ? $parent.currentUser().firstName : ''">
						</div>
						<div class="form-group">
							<label for="lastName">Last name</label> <input
								class="form-control" id="lastName" 
								placeholder="Enter last name" name="lastName"
								data-bind="value: $parent.currentUser() ? $parent.currentUser().lastName : ''" type="text">
						</div>
						<div class="form-group">
							<label for="email">Email</label> <input class="form-control"
								id="email" placeholder="Enter email" type="email"
								data-bind="value: $parent.currentUser() ? $parent.currentUser().email : ''">
						</div>
						<div class="form-group">
							<label for="birthDate">Birth Date</label> 
							<input
								class="form-control" id="birthDate"
								placeholder="Enter date of birth" type="date"
								data-bind="datepicker: '', value: $parent.currentUser() ? $parent.currentUser().birthDate : '', datepickeroptions: { changeYear: true, dateFormat: 'yy-mm-dd' }, uniquename: true"
								data-bind="value: " 
								name="birthDate">
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-th"></span>
							</div>
							
						</div>
						<button type="submit" data-bind="click: $parent.save" class="btn btn-primary" data-dismiss="modal">Submit</button>
					</form>
				</div>

			</div>
		
		</div>
	</div>
	
	<div id="removeDialog" title="Confirmation Required" style="display: none;">
	  	Are you sure about this?
	</div>
</body>
</html>